<h1 class="text-danger">Hubo un ERROR en su peticion</h1>
<img class="img-circle center-block" src="images/error/Error.jpg" alt="koala">
<h2><%- mensaje %></h2>
<p>Posible solucion: <%- solucion %></p>